.game {
  text-align: center;
  margin: 5em 1em 0 0.5em;
  color-scheme: light dark;
}
h1 {
  text-align: center;
  color-scheme: light dark;
}
.calc {
  width: 35em;
  margin: 50px;
  background-color: #020011;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  padding: 20px;
  margin-bottom: 0;
  color-scheme: light dark;
}
.ionitem {
  border-radius: 0.5em;
  color-scheme: light dark;
}
.link {
  text-decoration: none;
  color-scheme: light dark;
}
.bigcont {
  margin-top: 3.5em;
}
.time {
  margin-left: 1em;
  margin-top: 50%;
}
